.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 80px;
    padding-top: 150px;
    height: 60vh;
}

.sec-5-1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sec-5-1>:nth-child(1){
    font-weight: 600;
    color: white;
}

.a1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec-5-2{
    display: flex;
    gap: 30px;
    border: 2px solid greenyellow;
    padding: 25px;
    border-radius: 30px;
    margin-bottom: 200px;
}

.a2{
     display: flex;
    align-items: center;
    gap: 10px;
}

.a1 img{
    width: 30px;
    color: greenyellow;
    background-color: white;
    border-radius: 50%;
    
}

.a2 img{
    width: 28px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid white;
}

.a1 span,
.a2 span{
    font-weight: 600;
}

@media(max-width:767px){
    
.sec-5-2{
    gap: 20px;
    border: 2px solid greenyellow;
    padding: 10px;
    
}

}