@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}


body{
    font-family: "Poppins", sans-serif;
  
    font-style: normal;
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: White;
    transition: all 0.3sec ease;
}

a:hover{
    color: greenyellow;
    text-decoration: none;
    text-underline-offset: 0.75rem;
    text-decoration-color:greenyellow ;


}

.navbar{
    display: flex;
    align-items: center;
    height: 4.37rem;
    padding: 0 6.25rem;
    
}
.navbar,
.navbar-menu {
    background-color: rgba(39, 34, 34, 0.779);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}


.logo{
    width: 40%;
    font-size: 1.8rem;
    font-weight: 500;
    color: greenyellow;

}


.menubar{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menubar li{
    font-size: 1.25rem;
}
.navbar-menu{
    display: none;

}

.sec2,.sec3,.sec4,.sec6{
    position: relative;
}


.arrow{
    position: absolute;
    right: 30px;
    bottom: 0;
    
}

.arrow2{
    transform: rotate(180deg);
}


.arrow img{
    width: 40px;
    background-color: greenyellow;
}
@media(min-width:1025px){
    
@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.sec1,.sec2,.sec-3,.sec4,.sec5{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

}


@media(max-width:1024px){
    .navbar{
        display: none;
    }
    .navbar-menu{
    display: flex;
}
.hamburger{
    color: greenyellow;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 100;


}
.hamburger i{
    font-size: 35px;
    padding: 4px;
}

.navbar-menu .logo{
    margin-top: 20px;
    padding-left: 30px;
}

.navbar-menu .menubar{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    margin-right: -700px;
    top: 70px;
    padding: 10px;
    gap: 10px;
    background-color:  rgba(0, 0, 0, 0.826);;
    border-radius: 5px;
    transition: all 0.3s ease;
    z-index: 100;
}

.navbar-menu .menubar:hover{
    text-decoration: none;
}

.navbar-menu .menubar.show{
    margin-right: 0px;
}


.navbar-menu .menubar li a{
    display: block;
    background-color: rgba(0, 0, 0, 0.35) 0px 5px ;
    border-radius: 5px;
    padding: 5px;


}
}


@media(max-width:767px){
    .arrow{
        display: none;
    }

    .logo{
        text-wrap: nowrap;
    }
    h1{
        font-size: 40px;
    }
    
    p{
        text-align: center;
    }
    .sec-1-1{
        margin-top: 50px;
    }
    .sec-1-1 img{
        width: 300px;
    }

    .sec-1-2{
        align-items: center;
        padding-bottom: 50px;
    }
    .navbar-menu .logo{
        padding-left: 10px;
        font-size: 25px;
    }
}